<%= javascript_include_tag :defaults %>

<%= error_messages_for :page %>

<% form_for @page do |page_form| -%>

  <p>
    <%= page_form.label :name, "Page:" %>
    <%= page_form.text_field :name %>
  </p>
    
  <div id="elements">
    <% page_form.fields_for :elements do |element_form| %>
      <div class="element">
        <p>
          <%= element_form.text_field :text %>
          <!-- Uses JS to hide this `element' and set a hidden_field with the name
               `_delete' to "1" which causes the record to be deleted. -->
			<%= remove_link_unless_new_record(element_form) %>
        </p>
      </div>
    <% end %>
  </div>
	<p>
		<%= add_element_link "Add a field", page_form %>
	</p>  
  <p>
    <%= page_form.submit "Save page" %>
  </p>

<% end -%>