<h1>Sign in</h1>
<div class="content_unit">
		<% form_for(:session, :url => sessions_path) do |f| %> 
		<%= f.error_messages %>
		<div class="field">
			<%= f.label :email %><br />
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password %><br /> 
			<%= f.password_field :password %>
		</div> 
		<div class="update_button">
			<%= f.submit "Sign in" %> 
		</div>
		<% end %> 
</div>
<div class="add_new" id="new_user_signup">
<%= link_to "Create new user", signup_path %>
</div>
