<% content_for :sub_menu do %>
<div id="menu_menu">
		<ul>
			<li class="selected">All</li>
			<% @menus.each do |menu| %>
			<li><%= link_to menu.name, :controller => 'menus', :action => 'show', :id => menu.id %></li>
			<% end %>
		</ul>
</div>
<% end %>
<div id="menu_content">
<% @menus.each do |@menu| %>
	<h1><%= link_to @menu.name, :controller => 'menus', :action => 'show', :id => @menu.id %></h1>
	     <% @menu.dishes.each do |dish| %>
			<div class="dish">
				<div class="dish_right">
					<div class="dish_price">
						<%= pound_amount(dish.price) %>
					</div>
				</div>
				<div class="dish_name">
					<%= dish.name %>
				</div>
				<div class="dish_description">
					<%= dish.description %>
				</div>

			</div>
	     <% end %>

<% end %>
</div>

