<% content_for :sub_menu do %>
<div id="menu_menu">
		<ul>
			<li><%= link_to 'All', :controller => 'menus', :action => 'index' %></li>
			<% @menus.each do |menu| %>
				<%= menu_item(menu) %>
			<% end %>
		</ul>
</div>
<% end %>

<div class="menu_section">
<h1><%= link_to @menu.name, :controller => 'menus', :action => 'show', :id => @menu.id %></h1>
     <% @menu.dishes.each do |dish| %>
		<div class="dish">
			<div class="dish_right">
				<div class="dish_price">
					<%= pound_amount(dish.price) %>
				</div>
			</div>
			<div class="dish_name">
				<%= dish.name %>
			</div>
			<div class="dish_description">
				<%= dish.description %>
			</div>

		</div>
     <% end %>

</div>