<h1>Edit dish</h1>
<div class="content_unit">
		<% form_for(@dish, :html => { :multipart => true }) do |f| %>
		<div class="hidden_field">
			<%= f.hidden_field :menu_id %><br />  
		</div>
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %><br />  
		</div>
		<div class="field">
			<%= f.label :description %><br />
			<%= f.text_field :description %><br />  
		</div>
		<div class="field">
			<%= f.label :price %><br />
			<%= f.text_field :price_parse %><br />  
		</div><br />
		<div class="photo"> 
		<%= f.label :File %><br />
		<% if !@dish.photo_file_name.nil? %>	
			<%= image_tag @dish.photo.url(:dish_small) %>
		<% end %>
		<%= f.file_field :photo %>
		</div><br />
		<div class="update_button">
			<%= f.submit "Save" %>
		</div>
		<% end %>
</div>