<% content_for :header_tag do %>
<h1>Add new dish</h1>
<% end %>


<div class="content_unit">
	<div class="heading">
		<h3 class="heading">Add a dish</h3>
		<p class="help_text">Enter details of the new dish and click “Add” to save the dish to this menu</p>
	</div>	
		<div class="user_input">


		<% form_for(@dish) do |f| %>
		<div class="hidden_field"§>
			<%= f.hidden_field :menu_id, :value => params[:menu_id] %><br />  
		</div>
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %><br />  
		</div>
		<div class="field">
			<%= f.label :description %><br />
			<%= f.text_field :description %><br />  
		</div>
		<div class="field">
			<%= f.label :price %><br />
			<%= f.text_field :price_parse %><br />  
		</div><br />
		<div class="photo"> 
	    <%= f.label :File %><br />
		<%= f.file_field :photo %>
		</div><br />
		<div class="actions save">
			<%= f.submit "Save" %>
		</div>
		<% end %>
		</div>
</div>
