<% content_for :head do %>
<% javascript_tag do %>
 $(document).ready(function() {
    $("input#autocomplete").autocomplete({
    source: [<% for reservation in @reservations %>
	 		"<%= reservation.name %>", 
		<% end %>]
});
  });
<% end %>

<% end %>


<h1>Admin::Reservations#index</h1>
<input id="autocomplete" />
 <%= select_tag_for_filter("reservations", @filters, params) %>
	<table>
	<% for reservation in @reservations %>
      <tr> 
		<td><%= reservation.name %></td>
		<td><%= reservation.email %></td>
		<td><%= reservation.phone %></td>
		<td><%= reservation.date %></td>
		<td><%= reservation.time %></td>
		<td><%= reservation.number_of_people %></td>
	  </tr>
	<% end %>
    </table>