<h1>Admin::Reservations#index</h1>
<%= select_tag_for_filter("reservations", @filters, params) %>
	<table>
	<% for reservation in @reservations %>
      <tr> 
		<td><%= reservation.name %></td>
		<td><%= reservation.email %></td>
		<td><%= reservation.phone %></td>
		<td><%= reservation.date %></td>
		<td><%= reservation.time %></td>
		<td><%= reservation.number_of_people %></td>
	  </tr>
	<% end %>
    </table>