<h1>Testimonials</h1>
<div class="content_unit">
		<ul id="testimonials" class="move">
			<% @testimonials.each do |testimonial| %>
			<li id="testimonial_<%= testimonial.id %>">
				<div class="controls">
					<div class="controls_item" id="controls_edit">
						<%= link_to "edit", :controller => 'testimonials', :id => testimonial, :action => 'edit' %>
					</div>
					<div class="controls_item" id="controls_delete">
						<%= link_to "delete", testimonial, :method => :delete, :confirm => "You sure?" %>
					</div>
				</div>
			<div class="index_item_testimonials">
				<div class="index_item_orderable">
					<div class="move_icon"></div>
					<div class="testimonial_name">
						<%= testimonial.name %>
					</div>
					<div class="testimonial_testimonial">
						<%= testimonial.testimonial %>
					</div>
				</div>
			</div>
			</li>
			<% end %>
		</ul>		
</div>

<div class="add_new" id="add_new_testimonial">
<%= link_to "Add new testimonial", :controller => 'admin/testimonials', :action => 'new' %>
</div>


<% content_for :jqueryui do %>
<% javascript_tag do %>
     $('#testimonials').sortable(
	    {
          axis: 'y', 
		   dropOnEmpty:false, 
	       cursor: 'crosshair',
	       items: 'li',
	       opacity: 0.4,
	       scroll: true,
          update: function(){
            $.ajax({
                type: 'post', 
                data: $('#testimonials').sortable('serialize'),
                dataType: 'script', 
                url: '/admin/testimonials/order_testimonials'})
            }	
	
	})
<% end %>

<% end %>