<% form_for(@customer) do |f| %>
<div>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>
<div>
	<%= f.label :address1 %><br />
	<%= f.text_field :address1 %>
</div>
<div>
	<%= f.label :address2 %><br />
	<%= f.text_field :address2 %>
</div>
<div>
	<%= f.label :city %><br />
	<%= f.text_field :city %>
</div>
<div>
	<%= f.label :postcode %><br />
	<%= f.text_field :postcode %>
</div>
<div class="action">
	<%= f.submit "Save details" %>
</div>
<% end %>
