<% @food_menus.each do |menu| %>
<div class="menu_section">
	<h2><%= menu.name %></h2>
	<% menu.dishes.all.each do |dish| %>
		<% form_tag ({:controller => 'orders', :action => 'basket' }) do %>
		<div class="dish">
			<%= hidden_field_tag :order_id, params[:id] %>
			<%= hidden_field_tag :dish_id, dish.id %>
			<div class="dish_add">
				<%=  submit_tag pound_amount(dish.price) %>
			</div>
			<div class="dish_name">
				<%= dish.name %>
			</div>
		</div>
		<% end %>
	<% end %>
</div>
<% end %>

<!--
<%# @wine_menus.each do |@menu| %>
<div class="menu_section">
	<h2><%#= @menu.name %></h2>
	<%# @wine_categories.each do |cat| %>
	<div>	
	<%#= cat.category.titleize %>
	</div>
	<%# select_all_wines(cat) %>
		<%# @wines.each do |wine| %>
		<div class="wine">
			<div class="wine_right">
				<div class="wine_price wine_right_item">
					<%#= pound_amount(wine.price) %>
				</div>
				<div class="wine_small wine_right_item">
					<%#= pound_amount(wine.small) %>
				</div>
				<div class="wine_large wine_right_item">
					<%#= pound_amount(wine.large) %>
				</div>
			</div>
			<div class="wine_name">
				<%#= wine.name %>
			</div>
		</div>
		<%# end %>
	<%# end %></div>
<%# end %>-->
