<% @menus.each do |menu| %>
<div class="menu_section">
	<h2><%= menu.name %></h2>
	<% menu.dishes.all.each do |dish| %>
		<% form_tag ({:controller => 'orders', :action => 'basket' }) do %>
		<div class="dish">
			<%= hidden_field_tag :order_id, params[:id] %>
			<%= hidden_field_tag :dish_id, dish.id %>
			<div class="dish_add">
				<%=  submit_tag pound_amount(dish.price) %>
			</div>
			<div class="dish_name">
				<%= dish.name %>
			</div>
		</div>
		<% end %>
	<% end %>
</div>
<% end %>