<% content_for :sub_menu do %>
<div id="people_menu">
		<ul>
			<li><%= link_to "All", :controller => 'people', :action => 'index' %></li>
			<% @people.each do |person| %>
				<%= menu_item(person) %>
			<% end %>
		</ul>
	
</div>
<% end %>

<div id="people_content">
<h1><%= @person.name %> - <%= @person.role %></h1>
	<div id="people_image">
	<%= image_tag @person.photo.url(@photo_size) %>
	</div>
	<div id="people_profile">
	<%= @person.profile %>
	</div>
</div>