<script type="text/javascript">$(function() {
			$("#datepicker").datepicker({dateFormat: 'DD d MM yy', firstDay: 1});
		});
		</script>

<h1>Leave a Reservation</h1>
<p>Please leave your details below and we will be in contact as soon as possible</p>
<% form_for(@reservation) do |f| %>
  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :name %><br />  
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %><br />  
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %><br />  
  </div>
  <div class="field" >
    <%= f.label :date %><br />
    <%= f.text_field :input_date, :id => 'datepicker'%><br />  
  </div>
  <div class="field">
    <%= f.label :time %><br />
	<%= f.select :time, options_for_select([ "18:00", "18:30", "19:00", "19:30", "20:00", "20:30", "21:00", "21:30", "22:00" ], "20:00") %><br />  
  </div>
  <div class="field">
    <%= f.label :number_of_people %><br />
    <%= f.text_field :number_of_people %><br />  
  </div><br />

  <div class="actions">
  <%= f.submit "Submit reservation" %>
</div>
<% end %>
