<% content_for :sub_menu do %>
<div id="gallery_menu">
	<ul>
		<li><%= link_to 'All', :controller => 'galleries', :action => 'index' %></li>
		<% @galleries.each do |gallery| %>
			<%= menu_item(gallery) %>
		<% end %>
	</ul>
</div>
<% end %>
<div id="gallery_content">
<h1><%= @gallery.name %></h1>
	<div id="gallery_caption">
		<%= @first_photo.caption %><br />
	</div>
	<div id="gallery_main_image">
		<a class="previous" id="previous_main"><%= image_tag 'plane_food/arrow_left.png' %></a>
		<a class="next" id="next_main"><%= image_tag 'plane_food/arrow_right.png' %></a>
		<div id="gallery_inner">
			<% @photos.each do |photo| %>
			<%= image_tag photo.photo.url, :class => 'main_image', :width => '500px', :height => '333px' %>
			<% end %>
		</div>
	</div>
	<div id="thumbnails">
		<div class="block">
			<ul>
				<% @gallery.photos.each do |photo| %>
				<li class="thumb">
					<%= image_tag photo.photo.url(:thumb), :class => 'thumb', :width => '113px', :full_url => photo.photo.url, :caption => photo.caption %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	
	
</div>
<%= javascript_include_tag "template#{@site.galleries_template}/gallery" %>