<head>
	<%= GMap.header(:host => request.host) %>
	<title>Our location</title>
</head>
<h1>Our location</h1>
<%= @map.to_html %>
<%= @map.div(:width => 880, :height => 300) %>
<div id="location_address">
	<h3><%= @info.address %></h3>
</div>
<p><%= @info.directions %></p>