<h1>New Photo</h1>
<% form_for(@photo, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :gallery_id %><br />
    <%= f.text_field :gallery_id %><br /><br />
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br /><br />
  </div>
	<div class="photo"> 
	<%= f.file_field :photo%>
	</div>
  <div class="actions">
    <%= f.submit "Add new photo" %>
  </div>
<% end %>

