<h1><%= link_to @menu.name, :controller => 'menus', :action => 'show', :id => @menu.id %></h1>
     <% @menu.dishes.each do |dish| %>
		<div class="dish">
			<div class="dish_right">
				<div class="dish_price">
					<%= pound_amount(dish.price) %>
				</div>
			</div>
			<div class="dish_left">
				<div class="dish_name_description">
					<div class="dish_name">
						<%= dish.name %>
					</div>
					<div class="dish_description">
						<%= dish.description %>
					</div>
				</div>
				<div class="dish_photo">
					<%= image_tag dish.photo.url(:dish_small) %>
				</div>
			</div>
		</div>
     <% end %>