<h1>Change password</h1>
<h2><%= @user.name %></h2>
<div class="content_unit">
		<% form_for(@user) do |f| %> 
		<div class="field">
			<%= f.label :password %>
			<br />
			<%= f.password_field :password %>
		</div>
		<div class="field"> 
			<%= f.label :password_confirmation, "Confirmation" %>
			<br />
			<%= f.password_field :password_confirmation %> 
		</div>
		<div class="update_button"> 
			<%= f.submit "Save" %>
		</div> 
		<% end %>
</div>