<h2>Edit User</h2>

<% form_for(@user) do |f| %> 
	<div class="field">
		<%= f.label :name %>
		<br />
		<%= f.text_field :name %> 
	</div>
	<div class="field"> 
		<%= f.label :email %>
		<br /> 
		<%= f.text_field :email %>
	</div>
	<div class="field"> 
		<%= f.label :status %>
		<br />
		<%= f.select :status, options_for_select([ "user", "administrator" ], "user") %>
	</div>
	 <div class="field">
		<%= f.label :password %>
		<br />
		<%= f.password_field :password %>
	</div>
	<div class="field"> 
		<%= f.label :password_confirmation, "Confirmation" %>
		<br />
		<%= f.password_field :password_confirmation %> 
	</div>
	<div class="actions"> 
		<%= f.submit "Sign up" %>
	</div> 
<% end %>