<h1>Edit User</h1>
<div class="content_unit">
		<% form_for(@user) do |f| %> 
		<div class="field">
			<%= f.label :name %>
			<br />
			<%= f.text_field :name %> 
		</div>
		<div class="field"> 
			<%= f.label :email %>
			<br /> 
			<%= f.text_field :email %>
		</div>
		<div class="field"> 
			<%= f.label :status %>
			<br />
			<%= f.select :status, options_for_select([ "administrator", "user" ], @user.status) %>
		</div>
		<div class="update_button"> 
			<%= f.submit "Save" %>
		</div> 
		<% end %>
</div>

<div class="edit_button" id="change_password_button">
	<%= link_to 'Change password', url_options = {:controller => 'admin/users', :action => 'change_password', :user_id => @user.id}, html_options = {:method => 'post' } %>	
</div>

