<h1>Users</h1>
<div class="content_unit">
	<ul>
		<% @users.each do |user| %>
		<div class="controls">
			<div class="controls_item" id="controls_edit">
				<% if current_user.is_administrator? %>
				<%= link_to "edit", :controller => 'users', :id => user, :action => 'edit' %>
				<% end %>
			</div>
			<div class="controls_item" id="controls_delete">
				<% if current_user.is_administrator? %>
				<%= link_to "delete", user, :method => :delete, :confirm => "You sure?" %>
				<% end %>
			</div>
		</div>
		<div class="index_item_users">
			<div class="user_heading">
				<%= user.name.titleize %>
				<div class="user_status">
					<%= user.status %>
				</div>
			</div>
		</div>
		<% end %>
	</ul>
</div>


<div class="add_new">
<%= link_to "Add new user", :controller => 'admin/users', :action => 'new' %>
</div>