<h1>Sign up</h1>
<div class="content_unit">
		<% form_for(@user) do |f| %> 
		<%= f.error_messages %>
			<%= f.hidden_field :status, :value => 'user' %>
		<div class="field">
			<%= f.label :name %>
			<br />
			<%= f.text_field :name %> 
		</div>
		<div class="field"> 
			<%= f.label :email %>
			<br /> 
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password %>
			<br />
			<%= f.password_field :password %>
		</div>
		<div class="field"> 
			<%= f.label :password_confirmation, "Confirmation" %>
			<br />
			<%= f.password_field :password_confirmation %> 
		</div>
		<div class="update_button"> 
			<%= f.submit "Sign up" %>
		</div> 
		<% end %>
</div>