<head>
 <%= GMap.header %>
<title>Our location</title>
</head>
<h1 class="page_title"><%= @site.name %></h1>
<h3><%= @site.address %></h3>
<%= @map.to_html %>
<%= @map.div(:width => 600, :height => 400) %>


<h3>Change location</h3>

<% form_for(@site) do |f| %>
  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :address %><br />  
  </div>
  <div class="actions">
  <%= f.submit "Change location" %>
</div>
<% end %>