<% form_for @menu_item do |f| -%>
<div class="field">
<%= f.hidden_field :navigation_menu_id %>
<%= f.label :name %><br />
<%= f.text_field :name %>
</div>
<div class="field">
<%= f.label :target_page %><br />
<%= f.select 'slug', options_from_collection_for_select(@links, 'slug', 'name') %>    
</div>

<div class="content_unit" id="child_menu_items">
	<ul class="menu" class="move" id="<%= @menu_item.id %>">	
		<% @menu_item.children.each do |c| %>
		<li id="menu_<%= c.id %>">
			<div class="controls">
				<div class="controls_item" id="controls_edit">
					<%= link_to "edit", :controller => 'admin/menu_items', :id => c.id, :action => 'edit' %>
				</div>
				<div class="controls_item" id="controls_delete">
					<%= link_to "delete", c, :method => :delete, :confirm => "You sure?" %>
				</div>
			</div>
			<div class="index_item_orderable navigation_index_item move">
				<div class="menu_item_slug">
					<%= c.slug %>
				</div>
				<div class="menu_item_name">
					<%= c.name %>
				</div>
			</div>
		</li>
		<% end %>
	</ul>
</div>

<div class="add_new">
<%= link_to "Add sub menu", :controller => 'admin/menu_items', :action => 'new', :parent_id => @menu_item.id %>
</div>
<div class="update_button">
<%= f.submit "Save" %>
</div>
<% end -%>

<% content_for :jqueryui do %>
<% javascript_tag do %>
$('.menu').mouseenter(function(){
	menu_id = $(this).attr("id");
	id = "#" + menu_id;
});

$('.menu').sortable(
{
	axis: 'y', 
	dropOnEmpty:false, 
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
		$.ajax({
			type: 'post', 
			data: $('.menu').sortable('serialize') + '&id=' + menu_id,
			dataType: 'script', 
			url: '/admin/menus/order_parent_menus'})
		}	

	})
	<% end %>

<% end %>