<% content_for :header_tag do %>
<h1>Edit menus</h1>
<% end %>


<div class="content_unit">
	<div class="heading">
		<h3 class="heading">Menu Name</h3>
		<p class="help_text">This is the name of the menu as it will appear on the site</p>
	</div>	
	<div class="user_input">
		<% form_for(@menu) do |f| %>
		<div class="update_menu">
			<%= f.label :Name %><br />
			<%= f.text_field :name %>
			<div class="edit_menu_type">
				Food menu
			</div>
			<div class="actions update">
			<%= f.submit "Update" %>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div class="content_unit">
	<div class="heading">
		<h3 class="heading">Dishes</h3>
		<p class="help_text">Click and drag the menu items to reorder. Their positions will be saved automatically</p>
	</div>	

	<div class="user_input">
		<div id="dishes">
			<ul id="menu" class="move">
				<% @menu.dishes.each do |dish| %> 
				<li id="dish_<%= dish.id %>">
					<div class="controls">
						<div class="controls_item" id="controls_edit">
						<%= link_to "edit", :controller => 'admin/dishes', :id => dish, :action => 'edit' %>
						</div>
						<div class="controls_item" id="controls_delete">
						<%= link_to "delete", dish, :method => :delete, :confirm => "You sure?" %>
						</div>

					</div>
					
					<div class="dish_details">
						<div class="move_icon"></div>
						<div class="dish_name"><%= dish.name %></div>
						<div class="dish_price"><%= pound_amount(dish.price) %></div>
						<div class="dish_description"><%= dish.description %></div>
					</div>

				</li>
				<% end %> </ul>
		</div>
	</div>
</div>

<div class="add_new">
<%= link_to "Add new dish", :controller => 'admin/dishes', :action => 'new', :menu_id => params[:id] %>
</div>

<% content_for :jqueryui do %>
<% javascript_tag do %>
     $('#menu').sortable(
	    {
          axis: 'y', 
		   dropOnEmpty:false, 
	       cursor: 'crosshair',
	       items: 'li',
	       opacity: 0.4,
	       scroll: true,
          update: function(){
            $.ajax({
                type: 'post', 
                data: $('#menu').sortable('serialize') + '&id=<%= @menu.id-%>', 
                dataType: 'script', 
                complete: function(request){
                    $('#menu').effect('highlight');
                  },
                url: '/admin/menus/order_dishes'})
            }	
	
	})
<% end %>

<% end %>