<h1>Edit testimonials</h1>

<% form_for(@testimonial) do |f| %>
  <div class="field">
    <%= f.label :testimonial %><br />
    <%= f.text_field :testimonial %><br />  
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />  
  </div>
  <div class="actions">
  <%= f.submit "Update" %>
</div>
<% end %>
