<% content_for :header_tag do %>
<h1>Edit menus</h1>
<% end %>
<div class="content_unit">
	<div class="heading">
		<h3 class="heading">Menu Name</h3>
		<p class="help_text">This is the name of the menu as it will appear on the site</p>
	</div>	
	<div class="user_input">
		<% form_for(@menu) do |f| %>
		<%= f.hidden_field :parent_id, :value => params[:parent_id] %>
		<%= f.hidden_field :site_id, :value => params[:site_id] %>		
		<div class="update_menu">
			<%= f.label :Name %><br />
			<%= f.text_field :name %>
			<div class="actions update">
				<%= f.submit "Update" %>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div class="content_unit">
	<div class="heading">
		<h3 class="heading">Menu subsections</h3>
		<p class="help_text">This menu has <%= @menu.children.size %> subsections</p>
	</div>	

	<div class="user_input">
		<div id="submenus">		
			<ul>
				<% @menu.children.each do |c| %>
				<li id="menu_<%= c.id %>">
					<div class="controls">
						<div class="controls_item" id="controls_edit">
							<%= link_to "edit", :controller => 'admin/menus', :id => c.id, :action => 'edit' %>
						</div>
						<div class="controls_item" id="controls_delete">
							<%= link_to "delete", c, :method => :delete, :confirm => "You sure?" %>
						</div>
					</div>
					<div class="menu_details">
						<div class="menu_name"><%= c.name %></div>
					</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="add_new">
<%= link_to "Add new menu section", :controller => 'admin/menus', :action => 'new', :parent_id => @menu.id, :site_id => @site.id %>
</div>



<% @menu.children.each do |c| %>
<div class="content_unit">
	<div class="heading">
		<h3 class="heading"><%= c.name %></h3>
		<p class="help_text">Click and drag the menu items to reorder. Their positions will be saved automatically</p>
	</div>	

	<div class="user_input">
		<div id="dishes">
			<ul class="menu" class="move" id="<%= c.id %>">	
				<% c.dishes.each do |dish| %> 
				<li id="dish_<%= dish.id %>">
					<div class="controls">
						<div class="controls_item" id="controls_edit">
							<%= link_to "edit", :controller => 'admin/dishes', :id => dish, :action => 'edit' %>
						</div>
						<div class="controls_item" id="controls_delete">
							<%= link_to "delete", dish, :method => :delete, :confirm => "You sure?" %>
						</div>

					</div>

					<div class="dish_details">
						<div class="move_icon"></div>
						<div>	
							<div class="dish_name"><%= dish.name %></div>
							<% if !dish.has_children? %>	
								<div class="dish_price"><%= pound_amount(dish.price) %></div>
							<% end %>
						</div>
						<div class="dish_description"><%= dish.description %></div>
						<% if dish.has_children? %>
							<% dish.children.each do |c| %>
							<div class="child_dish_name"><%= c.name %></div>
							<div class="child_dish_price"><%= pound_amount(c.price) %></div>	
							<% end %>				
						<% end %>
					</div>

				</li>
				<% end %>


			</ul>
		</div>
	</div>
</div>
<div class="add_new">
<%= link_to "Add new dish", :controller => 'admin/dishes', :action => 'new', :menu_id => params[:id] %>
</div>

<% end %>
<script>
$('.menu').mouseenter(function(){
	menu_id = $(this).attr("id");
	id = "#" + menu_id;
	});

	$('.menu').sortable(
		{
			axis: 'y', 
			dropOnEmpty:false, 
			cursor: 'crosshair',
			items: 'li',
			opacity: 0.4,
			scroll: true,
			update: function(){
				$.ajax({
					type: 'post', 
					data: $(id).sortable('serialize') + '&id=' + menu_id, 
					dataType: 'script', 
					complete: function(request){
						$('.menu').effect('highlight');
					},
					url: '/admin/menus/order_child_dishes'})
				}	

			});

		</script>