<ul id="top_nav">
	<li class="<%= controller.class == Admin::InfoController ? 'selected' : '' %>"><%= link_to "Restaurant details", :controller => 'admin/info', :action => 'edit', :id => 1 %></li>
	<li class="<%= controller.class == Admin::MenusController ? 'selected' : '' %>"><%= link_to "Menus", :controller => 'admin/menus', :action => 'index' %></li>
	<li class="<%= controller.class == Admin::OffersController ? 'selected' : '' %>"><%= link_to "Offers", :controller => 'admin/offers', :action => 'index' %></li>
	<li class="<%= controller.class == Admin::GalleriesController ? 'selected' : '' %>"><%= link_to "Galleries", :controller => 'admin/galleries', :action => 'index' %></li>
	<li class="<%= controller.class == Admin::TestimonialsController ? 'selected' : '' %>"><%= link_to "Testimonials", :controller => 'admin/testimonials', :action => 'index' %></li>
	<li class="<%= controller.class == Admin::PagesController ? 'selected' : '' %>"><%= link_to "Pages", :controller => 'admin/pages', :action => 'index' %></li>
	<li class="<%= controller.class == Admin::ReservationsController ? 'selected' : '' %>"><%= link_to "Reservations", :controller => 'admin/reservations', :action => 'index' %></li>
	<li class="<%= controller.class == Admin::PeopleController ? 'selected' : '' %>"><%= link_to "People", :controller => 'admin/people', :action => 'index' %></li>
	<li class="<%= controller.class == Admin::UsersController ? 'selected' : '' %>"><%= link_to "Users", :controller => 'admin/users', :action => 'index' %></li>	 - 
</ul>