<ul id="top_nav">
	<li><%= link_to "Menus", :controller => 'admin/menus', :action => 'index' %></li>
	<li><%= link_to "Location", :controller => 'admin/location', :action => 'index' %></li>
	<li><%= link_to "Offers", :controller => 'admin/offers', :action => 'index' %></li>
	<li><%= link_to "Galleries", :controller => 'admin/galleries', :action => 'index' %></li>
	<li><%= link_to "Testimonials", :controller => 'admin/testimonials', :action => 'index' %></li>
	<li><%= link_to "Pages", :controller => 'admin/pages', :action => 'index' %></li>
	<li><%= link_to "Reservations", :controller => 'admin/reservations', :action => 'index' %></li>
	<li><%= link_to "Users", :controller => 'admin/users', :action => 'index' %></li>	 - 
	<% if signed_in? %>
		<li><%= link_to "Sign out", signout_path, :method => :delete %></li> 
	<% else %>
		<li><%= link_to "Sign in", signin_path %></li>
	<% end %>
</ul>