<h1>Nick's restaurant</h1>
<%= link_to "Home", root_path %>
<%= link_to "Menus", :controller => 'menus', :action => 'index' %>
<%= link_to "Offers", :controller => 'offers', :action => 'index' %>
<%= link_to "Testimonials", :controller => 'testimonials', :action => 'index' %>
<%= link_to "Reservations", :controller => 'reservations', :action => 'new' %>