<h1>Create a new dish</h1>
<% form_for(@dish) do |f| %>
  <div class="field">
    <%= f.label :Menu %><br />
    <%= f.text_field :menu_id %><br />  
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />  
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %><br />  
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %><br />  
  </div><br />
  <div class="actions">
  <%= f.submit "Add new item" %>
</div>
<% end %>
